 /* Start Header  */
 .main_header {
     width: 1440px;
     background-color: #2A9D8F;
     padding: 38px 130px;
     margin: 0 auto;
 }

 .header_logo {
     vertical-align: middle;
 }

 .main_header_nav {
     margin-inline: 357px;
     display: inline-block;
     vertical-align: middle;
 }

 .header_li {
     display: inline-block;
 }

 .active {
     margin-inline: 31px;
 }

 .li_text {
     font-family: Nerko One;
     font-size: 20px;
     font-weight: 400;
     line-height: 30px;
     letter-spacing: 0.005em;
     color: #FFFFFF;

 }

 .header_div {
     background-color: #FFFFFF;
     display: inline-block;
     vertical-align: middle;
 }

 .header_button {
     font-family: Poppins;
     font-size: 20px;
     font-weight: 600;
     line-height: 30px;
     letter-spacing: 0.005em;
     color: #2A9D8F;
     border: 0;
     padding: 8px 16px;
 }

 /* Start Article  */

 .article_1 {
     width: 780px;
     margin: 200px auto;
 }

 .article_1_title {
     font-family: Poppins;
     font-size: 48px;
     font-weight: 500;
     line-height: 62px;
     letter-spacing: 0.005em;
     text-align: center;
     color: #4D4D4D;
 }

 .article_1_text {
     font-family: Nerko One;
     font-size: 20px;
     font-weight: 400;
     line-height: 34px;
     letter-spacing: 0.01em;
     color: #656565;
 }

 .active_1 {
     margin: 60px 0 52px;
     line-height: 30px;
 }

 /* Start Section1  */
 .section_1 {
     width: 1440px;
     margin: 0 auto;
     padding: 80px 130px;
     background-color: #C2F3EE;
 }

 .section_1_img {
     display: inline-block;
     vertical-align: top;
 }

 .section_1_div {
     width: 460px;
     height: 538px;
     display: inline-block;
     margin-left: 116px;
     vertical-align: top;
 }

 .section_1_title {
     font-family: Poppins;
     font-size: 32px;
     font-weight: 500;
     line-height: 48px;
     letter-spacing: 0.005em;
     color: #272727;

 }

 .section_1_text {
     font-family: Poppins;
     font-size: 18px;
     font-style: italic;
     font-weight: 400;
     line-height: 27px;
     letter-spacing: 0.005em;
     color: #515151;
     margin: 27px 0 45px;

 }

 .section_1_button {
     font-family: Poppins;
     font-size: 16px;
     font-weight: 400;
     line-height: 24px;
     letter-spacing: 0em;
     padding: 11px 16px;
     background-color: #2A9D8F;
     color: #FFFFFF;
     border: 0;

 }

 /* Start Section2  */